<h1>Listing antagonisms</h1>

<table>
  <tr>
    <th>First</th>
    <th>Second</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @antagonisms.each do |antagonism| %>
  <tr>
    <td><%= antagonism.first_id %></td>
    <td><%= antagonism.second_id %></td>
    <td><%= link_to 'Show', antagonism %></td>
    <td><%= link_to 'Edit', edit_antagonism_path(antagonism) %></td>
    <td><%= link_to 'Destroy', antagonism, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Antagonism', new_antagonism_path %>
