<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @antagonism.first_id %>
</p>

<p>
  <b>Second:</b>
  <%= @antagonism.second_id %>
</p>


<%= link_to 'Edit', edit_antagonism_path(@antagonism) %> |
<%= link_to 'Back', antagonisms_path %>
