<ol class="tab-nav">
  <li><a href="#tab-fourbyfour">4 x 4</a></li>
  <li><a href="#tab-fourbyeight">4 x 8</a></li>
</ol>  

<section class="group plot-container">
  <div id="tab-fourbyfour">
    <ol class="group">
      <li class="fourbyfour plot">
        <select name="1A">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="1B">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="1C">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="1D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
    </ol>
    <ol class="group">
      <li class="fourbyfour plot">
        <select name="2A">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="2B">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="2C">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="2D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
    </ol>
    <ol class="group">
      <li class="fourbyfour plot">
        <select name="3A">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="3B">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="3C">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="3D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
    </ol>
    <ol class="group">
      <li class="fourbyfour plot">
         <select name="1D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="2D">
          <option value="Null" selected>Select</option>
             <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="3D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyfour plot">
        <select name="4D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
    </ol>
  </div>

<!-- FOUR BY EIGHT PLOT -->

  <div id="tab-fourbyeight">
    <ol class="group">
      <li class="fourbyeight plot">
        <select name="1A">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="1B">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li> 
      <li class="fourbyeight plot">
        <select name="1C">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="1D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="1E">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="1F">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="1G">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="1H">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
    </ol>
    <ol class="group">
      <li class="fourbyeight plot">
        <select name="2A">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="2B">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="2C">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="2D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
         <select name="2E">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="2F">
          <option value="Null" selected>Select</option>
             <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="2G">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="2H">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
    </ol>
    <ol class="group">
      <li class="fourbyeight plot">
        <select name="3A">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="3B">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="3C">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="3D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="3E">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="3F">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="3G">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="3H">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
    </ol>
    <ol class="group">
      <li class="fourbyeight plot">
        <select name="4A">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="4B">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="4C">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="4D">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
         <select name="4E">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="4F">
          <option value="Null" selected>Select</option>
             <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="4G">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
      <li class="fourbyeight plot">
        <select name="4H">
          <option value="Null" selected>Select</option>
            <% @vegetables.each do |vegetable| %>
              <option value="vegetable"><%= vegetable.name %></option>
            <% end %>
        </select>
      </li>
    <ol>
  </div>

  <!--   <input class="evaluate_btn" type="submit" name="evaluate" value="Evaluate"> -->
</section>

<section class="addveggies">
  <%= link_to 'New Vegetable', new_vegetable_path %> ||
  <%= link_to 'New Companion', new_companionship_path %> ||
  <%= link_to 'New Antagonist', new_antagonism_path %>
</section>
