
<div id="container">
  <div class="bubble">

    <%= render 'info' %>

    <section class="group">
      <ol class="group">
        <li class="plot">
          <select name="1A">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="1B">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="1C">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="1D">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
      </ol>
      <ol class="group">
        <li class="plot">
          <select name="2A">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="2B">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="2C">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="2D">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
      </ol>
      <ol class="group">
        <li class="plot">
          <select name="3A">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="3B">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="3C">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="3D">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
      </ol>
      <ol class="group">
        <li class="plot">
           <select name="1D">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="2D">
            <option value="Null" selected>Select</option>
               <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="3D">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
        <li class="plot">
          <select name="4D">
            <option value="Null" selected>Select</option>
              <% @vegetables.each do |vegetable| %>
                <option value="vegetable"><%= vegetable.name %></option>
              <% end %>
          </select>
        </li>
      </ol>
    <!--   <input class="evaluate_btn" type="submit" name="evaluate" value="Evaluate"> -->
        <%= link_to 'New Vegetable', new_vegetable_path %> ||
        <%= link_to 'New Companion', new_companionship_path %> ||
        <%= link_to 'New Antagonist', new_antagonism_path %>
    </section>

  </div>
</div>


